BODY {
	/*scrollbar-face-color:#4E4D1F;*/  
	scrollbar-face-color:#0EA3F1;
	scrollbar-highlight-color:#F0F1F7;
	scrollbar-3dlight-color:#1A449B;
	scrollbar-darkshadow-color:#1A449B;
	scrollbar-shadow-color:#F0F1F7;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#1A449B;
}
A:link {
	font-size:9px;
	FONT-WEIGHT: bold;
	COLOR: #484F6B;
	TEXT-DECORATION: none;
}
A:visited {
    font-size:9px;
	FONT-WEIGHT: bold;
	COLOR: #484F6B;
	TEXT-DECORATION: none;
}
A:hover {
    font-size:9px;
	FONT-WEIGHT: bold;
	
	COLOR: #CC6600;
	TEXT-DECORATION: underline;
}
A:active {
    font-size:9px;
	FONT-WEIGHT: bold;
	COLOR: #876458;
	TEXT-DECORATION: underline;
}
A.leftlink:link {l
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.leftlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.leftlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.ll:link {l
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #C6D7EF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.ll:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #C6D7EF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.ll:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #DADDEC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.INPUT {
	BORDER-RIGHT: #BCBCBC 1px solid;
	BORDER-TOP: #626262 2px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #626262 2px solid;
	COLOR: #233B68;
	BORDER-BOTTOM: #BCBCBC 1px solid;
	FONT-FAMILY: Verdana;
	HEIGHT: 18px;
}
SELECT {
	BORDER-RIGHT: #BCBCBC 1px solid;
	BORDER-TOP: #626262 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #626262 1px solid;
	COLOR: #233B68;
	BORDER-BOTTOM: #BCBCBC 1px solid;
	FONT-FAMILY: Verdana;
}
TEXTAREA {
	BORDER-RIGHT: #BCBCBC 1px solid;
	BORDER-TOP: #626262 2px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #626262 2px solid;
	COLOR: #233B68;
	BORDER-BOTTOM: #BCBCBC 1px solid;
	FONT-FAMILY: Verdana;
}
TD{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
}
.TDHEAD{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	FONT-WEIGHT: bold;
	COLOR: #006600;/*6C740F*/
	BACKGROUND-COLOR:#F1EFED;
}
.TDHEAD_SUB{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR:#CAC0B6;
}
.BORDER{
	BORDER: #B6B9C8 1px solid;
}
.ErrorText{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	COLOR: #BB0000;
	FONT-WEIGHT: bold;
}
.ERR{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	COLOR: #8D4143;
	FONT-WEIGHT: bold;
}
.heading{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 13px;
	COLOR: #4E4D1F;
	FONT-WEIGHT: bold;
}
.inplogin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #353535;
	border: 1px solid #999999;
}
.tbllogin {
	font-size: 11px;
	color: #5B5B5B;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bodyP{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #4E4D1F;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #4E4D1F;
	text-decoration: none;
}

.dtree a.nodeSel {
	background-color: #DFDCD8;
}
.dtree .clip {
	overflow: hidden;
}
.table_border{
	BORDER-RIGHT: #DAE3F4 1px solid; BORDER-TOP: #DAE3F4 1px solid; BORDER-LEFT: #DAE3F4 1px solid; BORDER-BOTTOM: #DAE3F4 1px solid
}
.combobox {

	border: 1px solid #575757;

	background-color: #ffffff;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: normal;

	color: #000000;

}
.point_txt2{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #857A67;

	line-height: 12px;

}
.textbox {

	border: 1px solid #575757;

	background-color: #ffffff;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: normal;

	color: #000000;

}
.button {

	FONT-WEIGHT: none; 

	FONT-SIZE: 12px; 

	COLOR: #353535;

	FONT-FAMILY: Arial, Helvetica, sans-serif; 

	BACKGROUND-COLOR: 

	border: 1px solid #575757;

}

.Allred
{
	FONT-WEIGHT: bold; 
	
	FONT-SIZE: 11px; 
	
	COLOR: #9E2146; 
	
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.star_mark
{
		
	COLOR: #9E2146; 
		
}